doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title virtualmind
		script(src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous")
		script(src="/../js/all.js")
		link(rel='stylesheet', href='/../css/style.css')
		link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css')
	body
		
		#wrapper
			.navbar
				div(onClick="window.location.href = '/usuarios';") Usuarios
				div(onClick="window.location.href = '/dolar';") Dolar
			.page-header
				h2.titulo=page_title
			.page-container
				block content