extends layouts/header.jade

block content
			.page-data
			
				form(method="post" action="/usuarios/add" class="form-signin")
					table(cellpadding="11")
						tr
							td.label Nombre
							td 
								input(type="text" name="nombre" class="form-control" required)
						
						tr
							td.label Apellido
							td 
								input(type="text" name="apellido" class="form-control" required)
					
						tr
							td.label Email
							td 
								input(type="email" name="email" class="form-control" required)

						tr
							td.label Password
							td 
								input(type="password" name="password" class="form-control" required)

						tr
							td.label
							td
								input(type="submit" name="submit" value="Guardar" class="btn btn-success") 
								&nbsp;&nbsp;
								input(type="button" name="cancel" value="Cancelar" class="cancel btn btn-danger	" onClick="cancelAdd()")
							
			include layouts/footer.jade