body {
  margin:0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background:#eee;
  width:100%;
  height:100%;
}
*{

    border-radius:0px;
}
a {
  color: #00B7FF;
}

#wrapper{
    
    margin-top:30px;
    width:90%;
    min-height:600px;
    margin-left:5%;
    border:1px solid #ddd;
    background:#fff;
   
}

.page-container{padding:20px;}
.page-data{padding:10px;}
.page-header{
    text-align: center;
    padding:2px;
    padding-top: 10px;
}

p{
    text-align: center;
}

.navbar{
    background-color: ForestGreen;
    color: white;
    font-size: 20px;
}

.navbar div{
    cursor: pointer;
}


.titulo{
    font-size: 21px;
    line-height: 30px;
    position: relative;
    top: 35px;
    margin-bottom: 30px;
}

.data-btn{
    padding-left:10px;
    color: white;
    border: 1px solid #fff;
}

.data-btn button{
    color: white;
}

.data-btn button:hover{
    color: white;
}

.data-btn-logout button{
    border:1px solid #fff;
    color: white;
    float: right;
    margin-bottom: 10px;
    margin-right: 20px;
}

.data-btn-logout button:hover{
    color: white;
}

.data-table{padding-left:10px;}
.data-table table{border-collapse:collapse;border:1px solid #ddd;width:100%}
.a-inside{padding:4px 10px;border:1px solid #fff;text-decoration:none;}
.a-inside.edit{background-color:#00CC00;color:#fff;}
.a-inside.delete{background-color:#D23641;color:#fff;}

.dato{text-align: center;}

input[type="text"]{
    
    border:1px solid #ddd;
    height:26px;
    width:300px;
}

.form-signin {
    width: 40%;
    margin: 5% auto;
}

.select{
    position: relative;
    left: 123px;
    bottom: 22px;
}

input[type="password"]{
    
    border:1px solid #ddd;
    height:26px;
    width:300px;
}
.cancel{
    color:#fff;
    border:1px solid #fff;  
}
input[type="submit"]{

    border:1px solid #fff;
    color:#fff;
}
textarea{ border:1px solid #ddd;width:296px;}
.label{font-weight:bold;}

.password {
    -webkit-text-security: disc;
}

#footer{margin-left:82%;margin-top:10%}
